* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: {
        family: tahoma;
        size: 15px;
    }
    color: #000;
    background-color: #dbdbdb;
    text-align: center;
}